@import '../../../variables';

div.main-view-map {
    position: absolute;
    width: 400px;
    height: 400px;
    top: calc(0 + 128px);
    left: calc(50% - 16px);
    
    z-index: 1;
    img {
        width: 100%;
        display: none;
    }
}
