@import '../../variables';


div.splash-screen-main {
    margin: 0;
    color: $color_sand;
    padding: 40px 0;
    text-align: center;
    position: relative;

    div.changelogdiv {
        position: absolute;
        top: 15%;
        left: 25%;
        min-width: 45%;
        min-height: 75%;
        max-width: 45%;
        max-height: 75%;
        border-radius: 2px;
        padding: 5px;
        background-color: $color_dark_gray;
        z-index: 10;

        text-align: right;
        button {
            max-width: 50px;
            margin: 5px;
        }

        div.changelog-content {
            max-height: 330px;
            width: 100%;
            position: relative;
            div.ziuuu {
                position: absolute;
                top: 50%;
                left: calc(50% - 32px);
                width: 250px;
                height: 250px;
                width: 64px;
                height: 64px;
                & div {
                    box-sizing: border-box;
                    display: block;
                    position: absolute;
                    width: 51px;
                    height: 51px;
                    margin: 6px;
                    border: 6px solid #fff;
                    border-radius: 50%;
                    animation: ziuuu-anim 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                    border-color: #fff transparent transparent transparent;
                }
                & div:nth-child(1) {
                    animation-delay: -0.45s;
                }
                & div:nth-child(2) {
                    animation-delay: -0.3s;
                }
                & div:nth-child(3) {
                    animation-delay: -0.15s;
                }
            }
            p {
                text-align: center;
            }
            ul {
                overflow: auto;
                list-style: none;
                padding: 5px;
                li {
                    text-align: left;
                    margin: 10px 0;
                }
            }
        }
    }

    h1 {
        margin-top: 60px;
        font-size: 54px;
    }

    div.splash-buttons {
        display: flex;
        flex-direction: column;
        
        button {
            margin: 15px auto;
        }
    }

    #loginRegisterPopup {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 300px;
        height: 320px;
        top: 50%;
        bottom: 50%;
        left: 50%;
        margin-left: -150px;
        margin-top: -125px;
        
        z-index: 1;
        background-color: $color_light_gray;
        box-shadow: 1px 1px 6px 2px $color_dark_gray;

        font-size: 24px;
        border: none;
        border-radius: 2px;

        div.title-and-close {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;
            position: relative;
            button[type="reset"] {
                position: absolute;
                left: calc( 100% - 40px);
                max-width: 40px;
                max-height: 40px;
                width: 40px;
                height: 40px;
                margin: 0;
                font-size: 16px;
            }
            span.form-title {
                margin: 40px 10px;
                font-size: 32px;
                text-shadow: 2px 2px 8px $color_dark_gray;
            }
        }

        

        div#loginform {
            div.field {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: baseline;
                span {
                    font-size: 24px;
                    margin: auto 8px;
                }
                input {
                    margin: 10px 5px;
                    padding: 5px;
                    max-width: 175px;
                    width: 175px;
                    border-radius: 5px;
                    outline: none;
                    border: 3px solid $color_dark_brown;
                    transition: .25s all;
                    &:active, &:focus {
                        border: 3px solid $color_light_brown;
                    }
                    &:hover {
                        box-shadow: 1px 1px 5px 1px $color_dark_gray;
                    }
                }
            }
        }

        

        button {
            position: relative;
            margin-top: 25px;
        }
    }
}

@keyframes ziuuu-anim {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
