@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap&subset=latin-ext');

@import 'variables';


* {
    box-sizing: border-box;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: antialiased;
    image-rendering: pixelated;
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-family: 'Noto Sans', sans-serif;
    background-color: $color11;
    color: $color01;
}
