@color1: rgba(34, 34, 59, 1);
@color2: rgba(74, 78, 105, 1);
@color3: rgba(154, 140, 152, 1);
@color4: rgba(201, 173, 167, 1);
@color5: rgba(242, 233, 228, 1);

// @color1: #CEAC41;
// @color2: #DAC27C;
// @color3: #D7AF72;
// @color4: #EFDEC2;
// @color5: #A8651E;


@desktop: ~"only screen and (min-width: 1280px)";
@tablet:  ~"only screen and (min-width: 600px) and (max-width: 1279px)";
@mobile:  ~"only screen and (max-width: 599px)";

.boxShadow(@h) {
    box-shadow: @h;
    -webkit-box-shadow: @h;
    -moz-box-shadow: @h;
    -ms-box-shadow: @h;
}

.rotate(@h) {
    -webkit-transform: rotate(@h);
    transform: rotate(@h);
}
