@import '../../variables';


div.setting-menu {
    background-color: $color_dark_brown;
    color: $color_blue;
    
    h2, h3 {
        text-align: center;
    }

    h2.settings-title {
        color: $color_light_brown;
    }

    button {
        margin-left: 10px;
    }
}

